<div class="container">
    <footer class="footer">
        <small>
            Copy right &copy; Employment Hero Sai Gon
        </small>
    </footer>
    <nav>
        <ul>
            <li><%= link_to "About", "#"%></li>
        </ul>
    </nav>
</div>